*{
    margin: 0;
    padding: 66;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-image: linear-gradient(#1e375f,#081730);
    color: rgb(200, 213, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#26406b,#77d2f3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.escola-div-conteudo{
    width: 50%;
}
.escola-titulo{
    padding: 24px 0;
    color: #73d0f1;
}
.estudante{
    background-image: linear-gradient(#eff4fa,#beddeb);
}
.estudante-imagem{
    width: 150px;
}

.estudante-icone{
    width: 20px;
    padding: 0px 2px;
}

.estudante-div{
    text-align:center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0px;
   
}
.estudante-todos{
    display:grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    padding: 0px 0px 55px;
}
.rodape{
    background-image: linear-gradient(#2c4979,#122f3a);
    text-align: center;

}
.rodape-imagem{
    height: 30px;
    padding: 12px 0;
    align-items: center;
}